.pagination {
    .page-item {
        margin: 0 .5rem;

        .page-link {
            padding: 0;
            line-height: 2.5rem;
            height: 2.5rem;
            width: 2.5rem;
            font-weight: $font-weight-bold;
            text-align: center;
            color: $white;
            background-color: $primary;
            border-color: $primary;
        }

        &.disabled {
            .page-link {
                color: $primary;
                border-color: $primary;
                background-color: $white;
            }
        }
    }
}

.modal-backdrop {
    background-color: $white;

    &.show {
        opacity: 0.7;
    }
}

.modal-dialog {
    @extend .shadow-lg;
    margin-top: 5rem;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-header {
    padding-left: 0;

    .modal-title {
        max-width: 50%;
        background-color: $primary;
        color: $white;
        padding: 1.5rem 2rem 1.5rem 3rem;
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    .modal-title--sub {
        font-size: 0.875rem;
        text-transform: none;
        font-weight: normal;
    }
}

.modal-content {
    border: none;
}

.modal-body {
    padding: 3rem;
}