.carousel--multiple {
    @media (min-width: 768px) {

        /* show 3 items */
        .carousel-inner .active,
        .carousel-inner .active + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item,
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
            display: block;
        }
        
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
        
        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
          position: relative;
          transform: translate3d(0, 0, 0);
        }
        
        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        
        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        
        /* farthest right hidden item must be abso position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        
        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    
    }
}

.content-box {
    height: 30rem;
    background-color: $white;
    @extend .shadow-lg;
}

.content-box__img {
    position: relative;
    height: 18rem;
    @include background-cover;
}

.content-box__img-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    color: $white;
    background-color: $primary;
}

.content-box--flex {
    @include media-breakpoint-up(lg) {
        display: flex;
        min-height: 20rem;
        align-items: center;

        .content-box__img {
            width: 18rem;
            height: 100%;
            flex-shrink: 0;
        }

        .content-box__text {
            flex-shrink: 1;
        }
    }
}

.carousel-control-next,
.carousel-control-prev {
    width: 2rem;
}

.carousel-control-next {
    right: -2rem;
}

.carousel-control-prev {
    left: -2rem;
}

.carousel--frame {
    padding: 12rem 0;

    @include media-breakpoint-up(lg) {
        margin-left: 4rem;
    }

    .carousel-inner {
        overflow: visible;
    }

    .carousel-frame {
        position: relative;
        width:  24rem;
        height: 24rem;
        display: flex;
        align-items: center;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
            margin: 0;
        }
    }

    .carousel-frame__upper,
    .carousel-frame__lower {
        position: absolute;
        left: 0;
        right: 0;
        height: 12rem;

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            border-left: .5rem solid $white;
        }
    }

    .carousel-frame__upper {
        top: 0;
        border-top: .5rem solid $white;

        &:before {
            left: 0;
            top: 0;
            height: 3rem;
        }

        &:after {
            right: 0;
            top: 0;
            height: 12rem;
        }
    }

    .carousel-frame__lower {
        bottom: 0;
        border-bottom: .5rem solid $white;

        &:before {
            left: 0;
            bottom: 0;
            height: 16rem;
        }

        &:after {
            right: 0;
            bottom: 0;
            height: 12rem;
        }
    }

    .carousel-caption__big {
        position: absolute;
        top: 3.5rem;
        left: 0;
        line-height: 4rem;
        font-size: 3rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        @include media-breakpoint-up(lg) {
            left: -4rem;
        }
    }


    .carousel-caption__small {
        padding: 3rem;
        font-weight: $font-weight-bold;
        font-size: 1rem;
    }
    
    .carousel-indicators {
        @include media-breakpoint-up(lg) {
            margin: 0;
            justify-content: left;
        }
    }

    .carousel-indicators li {
        position: relative;
        flex: 0 1 auto;
        width: 2rem;
        height: 2rem;
        margin-right: 0.125rem;
        margin-left: 0.125rem;
        text-indent: 0;
        cursor: pointer;
        background-color: $white;
        color: $primary;
        text-align: center;
        line-height: 1.75rem;
        border: 0.125rem solid $white;
        transition: 0.2s ease;
    }

    .carousel-indicators .active {
        background-color: transparent;
        color: $white;
    }
}