.masthead {
  position: relative;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url('~/img/misc/banner-home.jpg');
  background-image: -webkit-linear-gradient(top, $primary 0%,rgba(125,185,232,0) 50%), url('~/img/misc/banner-home.jpg');
  background-image: linear-gradient(to bottom, $primary 0%,rgba(125,185,232,0) 50%), url('~/img/misc/banner-home.jpg');
  background-position: center center;
  height: 50vh;
  padding-top: 0;
  padding-bottom: 0;
  @include background-cover;

  @include media-breakpoint-up(lg) { 
    min-height: 650px;
  }

  &.masthead--home {
    height: 100vh;
  }
}

.masthead__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.masthead__title {
  position: relative;
  display: inline-block;
  top: 10%;
  left: 0;
  padding: 1rem 1rem 1rem 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: fade-out($secondary, .2);
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem 3rem 1.5rem 0;
    font-size: 2.5rem;
    line-height: 2rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: fade-out($secondary, .2);
    width: 100rem;
  }
}

.masthead__search {
  position: relative;
  bottom: -2rem;
  @extend .shadow-lg;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }

  .masthead__search--input,
  .masthead__search--btn {
    padding: 0;
    line-height: 4rem;
    height: 4rem;
  }

  .masthead__search--input {
    padding: 0 1rem;
    font-size: 1.5rem;
    border-color: $white;
  }

  .masthead__search--btn {
    width: 4rem;
    font-size: 2rem;
    color: $white;
    border-color: $secondary;
  }
}

.page-intro__img {
  position: relative;
  @extend .shadow;

  @include media-breakpoint-up(lg) {
    top: -2rem;
  }
}