// Styling for the navbar
#mainNav {
  .navbar-toggler {
    color: $white;
    border: none;
  }

  .navbar-collapse {
    text-align: center;

    @include media-breakpoint-up(lg) { 
      text-align: left;
    }
  }

  .nav-item {
    padding: 0 .5rem;
  }

  .contact-link,
  .nav-link {
    color: $white;
    padding: .5rem;
    transition: all .2s;
    border-bottom: .125rem solid transparent;
    text-decoration: none;
  }

  .nav-item.active,
  .nav-item:hover {
    .nav-link {
      border-bottom: .125rem solid $secondary;
    }
  }

  .nav-item--hotline {
    transform: rotate(270deg) translateX(0.25rem);
    padding: 0;
    
    .nav-text {
      color: $white;
      background-color: #33cccc;
      border: 0.125rem solid #fff;
      padding: 0 1.5rem 0 0.75rem;
      line-height: 2.5rem;
      border-radius: 2rem;
      font-size: 1.25rem;
      box-shadow: 0 0 0 0.5rem #33cccc;
    }
  }

  .nav-item--contact {
    border-top: 1px solid $gray-300;
    margin-top: 1rem;
    padding: 1rem 0;

    @include media-breakpoint-up(lg) {
      border: none;
      padding: 0;
      margin: 0;
    }
  }

  &.navbar-shrink {
    background-color: rgba(255,255,255,.95);
    @extend .shadow-sm;

    .navbar-toggler {
      color: $dark;
    }

    .contact-link,
    .navbar-nav > li.nav-item,
    .navbar-nav > li.nav-item > a.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus {
      color: $gray-900;
      &:hover {
        color: $primary;
      }
    }
  }
}

.navbar-brand {
  color: $white;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  img {
    max-height: 3rem;
  }
}