
.project-details__tabs {
    .nav-item {
      position: relative;
      margin: 0 .125rem;
  
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  
    .nav-link {
      padding: 0 1rem;
      line-height: 3rem;
      background-color: $secondary;
      color: $white;
      border: 1px solid $secondary;
      font-weight: $font-weight-bold;
      font-size: 1rem;
      text-transform: uppercase;
    }
  
    .nav-link--pop {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      line-height: 6rem;
      height: 6rem;
      transition: 0.2 ease;
    }
  
    .nav-link.active,
    .nav-link.active + .nav-link--pop {
      background-color: $white;
      color: $primary;
    }
  
    .nav-link.active + .nav-link--pop {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .project-details__content {
    padding: 4rem 0;
    background-image: url('~/img/misc/bg-projects.png');
    background-image: -webkit-linear-gradient(top, rgba(0,102,153,0.9) 0%, rgba(0,102,153,0.9)  100%), url('~/img/misc/bg-projects.png');
    background-image: linear-gradient(to bottom, rgba(0,102,153,0.9)  0%, rgba(0,102,153,0.9)  100%), url('~/img/misc/bg-projects.png');
  
    .project-details__gallery {
    
    }
    
    .project-details__gallery-icon {
      max-width: 3rem;
      margin-bottom: 0.5rem;
    }
    
    .project-details__gallery-types {
      @include media-breakpoint-up(lg) { 
        height: 100%;
      }
    }
    
    .nav-link.project-details__gallery-type {
      background-color: fade-out($black, 0.8);
      text-align: center;
      color: $white;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin-bottom: 1rem;
      padding: 1rem;
    
      @include media-breakpoint-up(lg) { 
        flex: 1;
      }
    
      &:last-child {
        margin-bottom: 0;
      }
    
      &.active {
        background-color: $secondary;
      }
    }
  
    .carousel-indicators {
      bottom: -2rem;
  
      li {
        width: .5rem;
        height: .5rem;
        background-color: $secondary;
        margin: 0 .25rem;
      }
  
      li.active {
        background-color: $white;
      }
    }
  }
  
  