.projects {
    position: relative;
    background-image: url('~/img/misc/bg-projects.png');
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%), url('~/img/misc/bg-projects.png');
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.8) 100%), url('~/img/misc/bg-projects.png');
    background-position: center center;
    min-height: 75vh;
    @include background-cover;

    .carousel-inner {
        padding-bottom: 3rem;
    }
}