// Variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// Font
$font-size-base: 0.875rem;

// Color
$primary: #006699;
$secondary: #33cccc;

// Text
$line-height-base: 1.5;

// Border Radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Grid
$grid-gutter-width: 32px;
