@import "animate.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";
@import "projects.scss";
@import "footer.scss";
@import "carousel.scss";
@import "project-details.scss";

.mast-contacts {
  background-image: url('~/img/misc/main-contacts-bg.jpg');
  background-color: fade-out($primary, .25);
  background-blend-mode: multiply;
  background-position: bottom center;
  @include background-cover;

  &.mast-contacts--no-bg {
    background: none;
  }
}

.mast-contact__img {
  height: 4rem;
}

.section__header {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: -0.5rem;
    height: 0.125rem;
    background-color: $secondary;
  }
}

.media-grid {
  .media-grid__img {
    background-size: cover;
    height: 20rem;
    margin: 1rem 0;

    @include media-breakpoint-up(lg) {
      height: auto;
      margin: 0;
    }
  }
}
